.zg-resume-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  .zg-resume-header {
  }
  .zg-knowledge-container {
    .zg-knowledge-column {
      .zg-skill {
        margin: 2px 0;
      }
    }
  }

  .zg-resume-link {
    margin: 15px 0 40px 0;
    text-decoration: none;
    color: rgb(235, 233, 233);
  }
  .zg-resume-link:visited {
    text-decoration: none;
    color: rgb(235, 233, 233);
  }
  .zg-resume-link:hover {
    text-decoration: none;
    color: rgb(235, 233, 233);
  }
  .zg-resume-link:focus {
    text-decoration: none;
    color: rgb(235, 233, 233);
  }
  .zg-resume-link:hover,
  .zg-resume-link:active {
    text-decoration: none;
    color: rgb(235, 233, 233);
  }
}

@media only screen and (min-width: 400px) {
  .zg-resume-container {
    .zg-knowledge-container {
      flex-direction: row;

      .zg-knowledge-column {
        .zg-skill {
        }
      }
    }
  }
}
