.zg-resume {

  .zg-resume-header {
  }
  .zg-knowledge-container {

    .zg-knowledge-column {

    }
  }

  .zg-resume-link {
    text-decoration: none;
      color: rgb(235, 233, 233);
  }
  .zg-resume-link:visited {
    text-decoration: none;
      color: rgb(235, 233, 233);
  }
  .zg-resume-link:hover {
    text-decoration: none;
      color: rgb(235, 233, 233);
  }
  .zg-resume-link:focus {
    text-decoration: none;
      color: rgb(235, 233, 233);
  }
  .zg-resume-link:hover,
  .zg-resume-link:active {
    text-decoration: none;
      color: rgb(235, 233, 233);
  }
}

@media only screen and (min-width: 400px) {
  .zg-resume {
    .zg-knowledge-container {
      .zg-knowledge-column {
      }
    }
  }
}
