.zg-home-container {
  background: rgb(39, 39, 39);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  .zg-headshot {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
      0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    height: 250px;
    width: 250px;
    margin: 30px 0 10px 0;
  }

  .zg-home-description {
    text-align: center;
  }
  .zg-link-holder {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    .zg-resume-link:visited {
      text-decoration: none;
      color: rgb(230, 230, 230);
    }
    .zg-link:hover {
      text-decoration: none;
      color: rgb(230, 230, 230);
    }
    .zg-link:focus {
      text-decoration: none;
      color: rgb(230, 230, 230);
    }
    .zg-link:hover,
    .zg-link:active {
      text-decoration: none;
      color: rgb(230, 230, 230);
    }
  }

  .zg-link {
    text-decoration: none;
    color: rgb(230, 230, 230);
    margin: 0 15px;
    text-align: center;
  }
  .zg-live-websites-header {
    border-bottom: 1px solid white;
    font-size: 18px;
    margin: 5px;
    margin-bottom: 14px;
  }

  .zg-live-site {
    width: 180px;
    border-radius: 3px;
    background: #3f3f3f;
    color: white;
    padding: 5px 10px 5px 8px;
    margin-bottom: 8px;
    font-size: 14px;
  }
}

@media only screen and (min-width: 400px) {
  .zg-home-container {
    .zg-headshot {
      height: 350px;
      width: 350px;
    }
  }
}
