.zg-photography-container {
  // display: flex;
  // flex-direction: column;
  text-align: center;
  background: rgb(39, 39, 39);

  .zg-photography-header {
    padding-top: 15px;
  }
  .zg-carousel-container {
  }
  .zg-photos {
    .zg-photo {
      box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
        0px 6px 10px 0px rgba(0, 0, 0, 0.14),
        0px 1px 18px 0px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
    }
  }
}

@media only screen and (min-width: 400px) {
  .zg-photography-container {
    padding: 10px 50px;
    .zg-photos {
      .zg-photo {

      }
    }
  }
}
